{{ form_start(form) }}
{#    {{ form_widget(form) }}#}

<ul id="images-fields-list"
    data-prototype="{{ form_widget(form.images.vars.prototype)|e }}"
    data-widget-tags="{{ '<li></li>'|e }}"
    data-widget-counter="{{ form.images|length }}">
    {% for emailField in form.images %}
        <li>
            {{ form_errors(emailField) }}
            {{ form_widget(emailField) }}
        </li>
    {% endfor %}
</ul>
<button type="button"
        class="add-another-collection"
        data-list-selector="#images-fields-list">Add another email
</button>


    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
